<div class="logsignform">
  <div class="logo">
    <img src="http://i.imgur.com/spbIxDB.png">
  </div>
  <form action="<%= users_url %>" method="post" class="signform">
    <%= auth_token_input %>
    <label class="loginform">
      Username
      <input type="text" name="user[username]" value="">
    </label>

    <label class="loginform">
      Password
      <input type="password" name="user[password]" value="">
    </label>

    <input type="submit" value="Sign Up" class="signformbtn">
  </form>
  <form action="<%= session_url %>" method="post" class="signformguest">
      <%= auth_token_input %>
        <input type="hidden" name="user[username]" value="guest">
        <input type="hidden" name="user[password]" value="password">
      <input type="submit" value="Sign In as Guest" class="signformbtnguest">
    </form>
    <%= link_to "Sign In", new_session_url, class: "signbtn" %>
</div>
